.container1
table , th, td {
 background-color: aquamarine; border: 5px ; width: 10 px; height: 10 px;
}
.container2
table, th, td {
    border: 5px solid rgb(163, 21, 21); width: 10px; height: 10px; 
}
.container3
h1 {text-align: center;}
table ,th, td {
    background-blend-mode: color color-burn; border: 5px ;width: 10px; height: 10 px;
}
body{
    background-image: url(minimalist-pink-white-roses-copy-space-background_23-2148408315.avif);
    background-repeat: no-repeat;
    background-size: cover;

}
   